.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px 20px 40px;

    .nav-menu {
        ul {
            display: flex;
            gap: 15px;
        }
    }

    .header-actions {
        display: flex;
        gap: 20px;
    }
}
