.header {
    display: flex;
    justify-content: space-around;
    padding: 20px 0 20px 0;

    .nav-menu {
        ul {
            display: flex;
            gap: 15px;
        }
    }

    .header-actions {
        display: flex;
        gap: 15px;
    }
}
