<div class="header">
    <div class="logo">AllisonDev</div>
    <div class="nav-menu">
        <ul>
            <li>{{ "header.About" | translate }}</li>
            <li>{{ "header.Portfolio" | translate }}</li>
            <li>{{ "header.Skills" | translate }}</li>
            <li>{{ "header.Contacts" | translate }}</li>
        </ul>
    </div>
    <div class="header-actions">
        <app-theme-switch-button></app-theme-switch-button>
        <app-language-selector
            (languageSelected)="switchLanguage($event)"
        ></app-language-selector>
    </div>
</div>
