.flag-button {
    button {
        background-color: transparent;
        cursor: pointer;
        border: none;
        img {
            height: 26px;
            transition: transform 0.9s;
        }
        img:hover {
            transform: translateY(-5px);
        }
    }
}
