/* You can add global styles to this file, and also import other style files */
* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

:root {
    --background-color-light: #ffffff;
    --text-color-light: #000000;
    --background-color-dark: #333333;
    --text-color-dark: #ffffff;
}

[data-theme="light"] {
    --background-color: var(--background-color-light);
    --text-color: var(--text-color-light);
}

[data-theme="dark"] {
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}
